<footer class="footer-container" role="contentinfo">
  <div class="footer-content-container">
    <div class="footer-content-left-container">
      <p class="footer-address">
        Wellington Civic & Leisure Centre, Tan Bank, Wellington TF1 1LX
      </p>
      <div class="footer-social-container">
        <a class="social-link" href="#">
          <img src="./../../../../assets/facebook-icon.png" alt="facebook logo" class="facebook-logo">
        </a>
        <a class="social-link" href="#">
          <img src="./../../../../assets/twitter-icon.png" alt="twitter logo" class="twitter-logo">
        </a>
        <a class="social-link" href="#">
          <img src="./../../../../assets/instagram-icon.png" alt="instagram logo" class="instagram-logo">
        </a>
        <a class="social-link" href="#">
          <img src="./../../../../assets/email-icon.png" alt="email icon" class="email-icon">
        </a>
      </div>
      <nav>
        <ul class="footer-nav-links">
          <li><a href="#">Accessibility Statement</a></li>
          <li><a href="#">Cookies</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Site map</a></li>
          <li><a href="#">Terms of use</a></li>
        </ul>
      </nav>
      <p class="footer-copyright">
        All content © Telford & Wrekin Council
      </p>
    </div>
    <div class="footer-content-right-container">
      <div>
        <img src="./../../../../assets/footer-service-logo.png" alt="Telford & Wrekin counsil service logo" class="footer-service-logo">
      </div>
    </div>
  </div>
</footer>