.footer-container {
  display: flex;
  justify-content: center;
  background-color: #DFE0E2;
  width: 100%;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid #A0ACB1;

  @media screen and (max-width: 960px) {
    width: calc(100% - 30px);
    padding: 0px 15px;
  }
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  width: 100%;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-content-left-container {
  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-address {
  margin-top: 30px;
  color: #454A4C;
  font-size: 16px;
}

.footer-social-container {
  margin: 15px 0px;

  .social-link {
    cursor: pointer;
  }

  .facebook-logo {
    margin-right: 4px;
  }

  .twitter-logo,
  .instagram-logo {
    margin-left: 4px;
    margin-right: 4px;
  }

  .email-icon {
    margin-left: 4px;
  }
}

.footer-nav-links {
  display: flex;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;

  @media screen and (max-width: 900px) {
    border: 1px solid red;
    flex-wrap: wrap;
  }


  li {
    a {
      text-decoration: underline;
      color: #454A4C;
      font-size: 16px;
      cursor: pointer;
    }
  }
  
  li:not(:last-child) {
    margin-right: 15px;
  }

  @media screen and (max-width: 900px) {
    li {
      margin-bottom: 5px;
    }
  }
}

.footer-copyright {
  color: #454A4C;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.footer-content-right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 900px) {
    display: none;
  }
}