@if (errors.length > 0) {
  <app-error-summary
    [errors]="errors"
    [tabIndex]="1"
    (focusField)="focusElement($event)"
  />
}
<h2 class="page-question-number">
  Question {{ currentPage }} of {{ totalPages }}
</h2>
<h1 class="page-question">What is your residential address?</h1>
<form
  class="question-form-container"
  [formGroup]="questionFiveForm"
  (ngSubmit)="onClickContinue()"
>
  <div
    class="input-container"
    [class.input-container-error]="
      (questionFiveForm.get('addressLineOne').errors ||
        questionFiveForm.get('addressLineOne').hasError('required')) &&
      this.errors.length > 0
    "
  >
    <label for="addressLineOne" class="default-input-label">
      Address line 1
    </label>
    @if (
      questionFiveForm.get('addressLineOne').errors &&
      questionFiveForm.get('addressLineOne').hasError('required') &&
      this.errors.length > 0
    ) {
      <label for="addressLineOne" class="input-label-error-message">
        Enter your address line 1
      </label>
    }
    <div>
      <input
        id="addressLineOne"
        formControlName="addressLineOne"
        type="text"
        class="default-text-input"
        [class.text-input-error]="
          questionFiveForm.get('addressLineOne').errors &&
          this.errors.length > 0
        "
      />
    </div>
  </div>
  <div class="input-container">
    <label for="addressLineTwo" class="default-input-label">
      Address line 2 (Optional)
    </label>
    <div>
      <input
        id="addressLineTwo"
        formControlName="addressLineTwo"
        type="text"
        class="default-text-input"
      />
    </div>
  </div>
  <div class="input-container">
    <label for="townOrCity" class="default-input-label">
      Town/City (Optional)
    </label>
    <div>
      <input
        id="townOrCity"
        formControlName="townOrCity"
        type="text"
        class="default-text-input three-quarters-text-input"
      />
    </div>
  </div>
  <div class="input-container">
    <label for="county" class="default-input-label"> County (Optional) </label>
    <div>
      <input
        id="county"
        formControlName="county"
        type="text"
        class="default-text-input three-quarters-text-input"
      />
    </div>
  </div>
  <div
    class="input-container"
    [class.input-container-error]="
      (questionFiveForm.get('postcode').errors ||
        questionFiveForm.get('postcode').hasError('required')) &&
      this.errors.length > 0
    "
  >
    <label for="postcode" class="default-input-label"> Postcode </label>
    @if (
      questionFiveForm.get('postcode').errors &&
      questionFiveForm.get('postcode').hasError('required') &&
      this.errors.length > 0
    ) {
      <label for="postcode" class="input-label-error-message">
        Enter your postcode
      </label>
    }
    @if (
      questionFiveForm.get('postcode').errors &&
      questionFiveForm.get('postcode').hasError('pattern') &&
      this.errors.length > 0
    ) {
      <label for="postcode" class="input-label-error-message">
        Enter a real postcode
      </label>
    }
    <div>
      <input
        id="postcode"
        formControlName="postcode"
        type="text"
        class="default-text-input one-half-text-input"
        [class.text-input-error]="
          questionFiveForm.get('postcode').errors && this.errors.length > 0
        "
      />
    </div>
  </div>
  <div>
    <button class="default-btn" type="submit">Continue</button>
  </div>
</form>
