@use './../../../styles/palette/colors.scss' as *;

.footer-container {
  display: flex;
  justify-content: center;
  background-color: $govuk-light-grey;
  width: 100%;
  border-top: 1px solid $govuk-mid-grey;

  @media screen and (max-width: 960px) {
    width: calc(100% - 30px);
    padding: 0px 15px;
  }
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  width: 100%;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-content-left-container {
  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-address {
  margin-top: 30px;
  color: $govuk-black;
  font-size: 16px;
}

.footer-social-container {
  margin: 15px 0px;

  @media screen and (max-width: 900px) {
    margin: 20px 0px;
  }

  .social-link {
    cursor: pointer;
    margin: 10px;

    @media screen and (max-width: 900px) {
      margin: 20px;
    }
  }

  .social-link:focus {
    outline: 3px solid transparent;
    background-color: $govuk-yellow;
    box-shadow:
      0 -2px $govuk-yellow,
      0 4px $govuk-black;
    text-decoration: none;
    height: 20px;
    width: 20px;
  }
}

.footer-nav-links {
  display: flex;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;

  @media screen and (max-width: 900px) {
    flex-wrap: wrap;
  }

  li {
    a {
      text-decoration: underline;
      color: $govuk-black;
      font-size: 16px;
      cursor: pointer;
    }

    a:focus {
      color: $govuk-black;
      background-color: $govuk-yellow;
      box-shadow:
        0 -2px $govuk-yellow,
        0 4px $govuk-black;
      text-decoration: none;
      outline: 3px solid transparent;
    }
  }

  li:not(:last-child) {
    margin-right: 15px;
  }

  @media screen and (max-width: 900px) {
    li {
      margin-bottom: 15px;
    }
  }
}

.footer-copyright-version-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright-version {
  color: $govuk-black;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.footer-content-right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 900px) {
    display: none;
  }
}
