<header class="header-container" role="banner">
  <div class="main-container">
    <div class="left-container">
      <img src="./../../../../assets/telford-wrekin-logo.png" alt="Telford & Wrekin council logo">
    </div>
    <div class="center-container">
      <span class="service-name">Leisure Services</span>
    </div>
    <div class="right-container">
    </div>
  </div>
</header>
<div class="accent-bar-container">
  <div class="accent-bar"></div>
</div>
<ng-container *ngIf="showSystemMessage">
  <div class="system-message-container">
    <p class="system-message-content">The Terms and Conditions for the usage of this site have been updated, please review using the link below</p>
  </div>
  <div class="phase-banner-container">
    <div class="phase-banner-content-container">
      <div class="status-tag">
        <p class="status-tag-label">
          BETA
        </p>
      </div>
      <div class="status-feedback-container">
        <a href="mailto:hello@chris-jones.dev?subject=Telford leisure services project feedback" class="status-feedback-link">What did you think of this service?</a>
        <p class="status-feedback-text">(takes 30 seconds)</p>
      </div>
    </div>
  </div>
</ng-container>
