@use './../styles/palette/colors.scss' as *;

.no-arrow {
  padding-left: 0px;
}

.no-arrow::before {
  display: none;
  left: 0px;
  width: 0px;
  height: 0px;
}

.page-title {
  margin-top: 45px;
  margin-bottom: 30px;
}

.sub-heading-custom-margin {
  margin-top: -5px;
}

.question-help-text {
  font-size: 19px;
  color: $govuk-dark-grey;
}

.text-area-input {
  width: 100%;
  margin: 10px 0px 0px 0px;
  font-size: 19px;
  padding: 5px;
  resize: vertical;
  border: 2px solid $govuk-black;
  min-height: 40px;
}

.text-area-input:focus {
  outline: 3px solid $govuk-yellow;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px;
  box-shadow: inset 0 0 0 2px;
}

.text-area-help-text {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 19px;
  color: $govuk-dark-grey;
}

.text-area-error-text {
  color: $govuk-red;
  font-weight: 700;
}
