@use './../palette/colors.scss' as *;

.confirmation-panel {
  background: $govuk-green;
  width: 100%;
  margin-bottom: 15px;
  padding: 35px;
  border: 5px solid transparent;
  text-align: center;
  margin-top: 50px;

  @media screen and (max-width: 960px) {
    padding: 35px 0px;
  }
}

.panel-title {
  color: $govuk-white;
  font-weight: 700px;
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.panel-body {
  color: $govuk-white;
  font-size: 36px;
  line-height: 40px;
}

.panel-body-text {
  color: $govuk-white;
}
