.title-with-hint {
  font-size: 36px;
  padding-top: 45px;
  margin: 0px 0px 10px 0px;
}

.title-hint-text {
  font-size: 19px;
  color: #505a5f;
  font-weight: 400;
  margin: 20px 0px 0px 0px;
}

.hint-bullet-container {
  margin: 0;
  margin-top: 10px;
}

.hint-bullet {
  font-size: 19px;
  color: #505a5f;
  font-weight: 400;
}

.hint-bullet:not(:last-of-type) {
  margin-bottom: 5px;
}
