<div class="main-container">
  <div class="body-container">
    <div class="two-thirds-container">
      <!-- <h1 class="heading-large custom-padding">
        Create a password you will remember
      </h1> -->
      <h1 class="title-with-hint">
        Create a password you will remember
      </h1>
      <p class="title-hint-text">
        Your password must have:
      </p>
      <ul class="hint-bullet-container">
        <li class="hint-bullet">at least 8 characters</li>
        <li class="hint-bullet">at least one symbol (eg ?!£%)</li>
        <li class="hint-bullet">at least one capital letter</li>
      </ul>
      <form class="question-form-container" [formGroup]="passwordForm" (ngSubmit)="onClickContinue()">
        <div class="default-input-container">
          <label for="password" class="default-input-label">
            Password
          </label>
          <div>
            <input id="password" formControlName="password" type="text" class="default-text-input">
          </div>
        </div>
        <div class="default-input-container">
          <label for="confirmPassword" class="default-input-label">
            Confirm your password
          </label>
          <div>
            <input id="confirmPassword" formControlName="confirmPassword" type="text" class="default-text-input">
          </div>
        </div>
        <div>
          <button class="default-btn" type="submit">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>
</div>