<div class="main-container">
  <div class="body-container">
    <div class="two-thirds-container">
      @if (errors().length > 0) {
        <app-error-summary
          [errors]="errors()"
          [tabIndex]="1"
          (focusField)="focusElement($event)"
        />
      }
      <h1 class="title-with-hint">Create a password you will remember</h1>
      <p class="title-hint-text">Your password must have:</p>
      <ul class="hint-bullet-container">
        <li class="hint-bullet">at least 8 characters</li>
        <li class="hint-bullet">at least one symbol (eg ?!£%)</li>
        <li class="hint-bullet">at least one capital letter</li>
        <li class="hint-bullet">at least one lower case letter</li>
        <li class="hint-bullet">at least one number</li>
      </ul>
      <form
        class="question-form-container"
        [formGroup]="form()"
        (ngSubmit)="onClickContinue()"
      >
        <div
          class="input-container"
          [class.input-container-error]="
            (form().get('password').errors ||
              form().get('password').hasError('required')) &&
            this.errors().length > 0
          "
        >
          <label for="password" class="default-input-label"> Password </label>
          @if (
            form().get('password').errors &&
            form().get('password').hasError('required') &&
            this.errors().length > 0
          ) {
            <label for="password" class="input-label-error-message">
              Enter your password
            </label>
          }
          @if (
            form().get('password').errors &&
            form().get('password').hasError('minlength') &&
            this.errors().length > 0
          ) {
            <label for="password" class="input-label-error-message">
              Password must be 8 characters or more
            </label>
          }
          @if (
            form().get('password').errors &&
            form().get('password').hasError('pattern') &&
            this.errors().length > 0
          ) {
            <label for="password" class="input-label-error-message">
              Password must be in the correct format which contains at least one
              capital letter, one lower case letter, one number and one symbol
              (eg ?!£%)
            </label>
          }
          <div>
            <input
              id="password"
              formControlName="password"
              type="password"
              class="default-text-input"
              [class.text-input-error]="
                form().get('password').errors && this.errors().length > 0
              "
            />
          </div>
        </div>
        <div
          class="input-container"
          [class.input-container-error]="
            (form().get('confirmPassword').errors ||
              form().get('confirmPassword').hasError('required')) &&
            this.errors().length > 0
          "
        >
          <label for="confirmPassword" class="default-input-label">
            Confirm your password
          </label>
          @if (
            form().get('confirmPassword').errors &&
            form().get('confirmPassword').hasError('required') &&
            this.errors().length > 0
          ) {
            <label for="confirmPassword" class="input-label-error-message">
              Confirm your password
            </label>
          }
          @if (
            form().get('confirmPassword').errors &&
            form().get('confirmPassword').hasError('match') &&
            this.errors().length > 0
          ) {
            <label for="confirmPassword" class="input-label-error-message">
              Confirm password and password should match
            </label>
          }
          <div>
            <input
              id="confirmPassword"
              formControlName="confirmPassword"
              type="password"
              class="default-text-input"
              [class.text-input-error]="
                form().get('confirmPassword').errors && this.errors().length > 0
              "
            />
          </div>
        </div>
        <div>
          <button class="default-btn" type="submit">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
