<div class="main-container">
  <div class="body-container">
    <div class="two-thirds-container">
      <ng-container *ngIf="errorSummary.length > 0">
        <div #errorSummaryDiv class="error-summary-container" tabindex="2">
          <h2 class="error-summary-title">
            There is a problem
          </h2>
          <ul class="error-summary-list">
            <li *ngIf="passwordForm.get('password').errors && passwordForm.get('password').hasError('required')">
              <a routerLink="./" fragment="password" class="error-link" tabindex="3">
                Enter your password
              </a>
            </li>
            <li *ngIf="passwordForm.get('password').errors && passwordForm.get('password').hasError('minlength')">
              <a routerLink="./" fragment="password" class="error-link" tabindex="3">
                Password must be 8 characters or more
              </a>
            </li>
            <li *ngIf="passwordForm.get('password').errors && passwordForm.get('password').hasError('pattern')">
              <a routerLink="./" fragment="password" class="error-link" tabindex="3">
                Password must be in the correct format which contains at least one capital letter, one lower case letter, one number and one symbol (eg ?!£%)
              </a>
            </li>
            <li *ngIf="passwordForm.get('password').errors && passwordForm.get('password').hasError('token')">
              <a (click)="reloadCurrentRoute()" class="error-link" tabindex="3">
                Confirmation code has expired. Click this link to go back and generate a new one
              </a>
            </li>
            <li *ngIf="passwordForm.get('confirmPassword').errors && passwordForm.get('confirmPassword').hasError('required')">
              <a routerLink="./" fragment="confirmPassword" class="error-link" tabindex="3">
                Confirm your password
              </a>
            </li>
            <li *ngIf="passwordForm.get('confirmPassword').errors && passwordForm.get('confirmPassword').hasError('match')">
              <a routerLink="./" fragment="confirmPassword" class="error-link" tabindex="3">
                Confirm password and password should match
              </a>
            </li>
          </ul>
        </div>
      </ng-container>
      <h1 class="title-with-hint">
        Create a password you will remember
      </h1>
      <p class="title-hint-text">
        Your password must have:
      </p>
      <ul class="hint-bullet-container">
        <li class="hint-bullet">at least 8 characters</li>
        <li class="hint-bullet">at least one symbol (eg ?!£%)</li>
        <li class="hint-bullet">at least one capital letter</li>
        <li class="hint-bullet">at least one lower case letter</li>
        <li class="hint-bullet">at least one number</li>
      </ul>
      <form class="question-form-container" [formGroup]="passwordForm" (ngSubmit)="onClickContinue()">
        <div class="default-input-container">
          <label for="password" class="default-input-label">
            Password
          </label>
          <div>
            <input id="password" formControlName="password" type="password" class="default-text-input">
          </div>
        </div>
        <div class="default-input-container">
          <label for="confirmPassword" class="default-input-label">
            Confirm your password
          </label>
          <div>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" class="default-text-input">
          </div>
        </div>
        <div>
          <button class="default-btn" type="submit">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>
</div>