@use './../../styles/colors.scss' as *;
@use './../../styles/functions.scss' as *;

.header-container {
  width: 100%;
  background: $govuk-black;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 960px) {
    width: calc(100% - 30px);
    padding: 0px 15px;
  }
}

.main-container {
  display: flex;
  align-items: center;
  max-width: 960px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.left-container,
.right-container {
  flex: 1;
}

.right-container {
  @media screen and (max-width: 450px) {
    display: none;
  }
}

.service-name {
  font-size: 24px;
  font-weight: 700;
  color: $govuk-white;
}

.accent-bar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.accent-bar {
  background-color: $govuk-turquoise;
  height: 10px;
  max-width: 960px;
  width: 100%;
}

.system-message-container {
  background-color: tint($govuk-light-blue, 90%);
  display: flex;
  justify-content: center;

  @media screen and (max-width: 960px) {
    width: calc(100% - 30px);
    padding: 0px 15px;
  }
}

.system-message-content {
  max-width: 960px;
  width: 100%;
  font-size: 16px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.phase-banner-container {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 960px) {
    width: calc(100% - 30px);
    padding: 0px 15px;
  }
}

.phase-banner-content-container {
  display: flex;
  align-items: center;
  max-width: 960px;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid shade($govuk-light-grey, 25%);
}

.status-tag {
  background-color: $govuk-blue;
}

.status-tag-label {
  padding: 7px;
  color: $govuk-white;
}

.status-feedback-container {
  display: flex;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    margin-top: 5px;
  }
}

.status-feedback-link {
  font-size: 16px;
  color: $govuk-blue;
  text-decoration: underline;
  margin-left: 10px;
  cursor: pointer;
}

.status-feedback-link:hover {
  color: $govuk-dark-blue;
}

.status-feedback-link:focus {
  color: $govuk-black;
  background-color: $govuk-yellow;
  box-shadow:
    0 -2px $govuk-yellow,
    0 4px $govuk-black;
  text-decoration: none;
  outline: 3px solid transparent;
}

.status-feedback-text {
  margin-left: 5px;

  @media screen and (max-width: 480px) {
    margin-left: 10px;
  }
}
