@if (errors.length > 0) {
  <app-error-summary
    [errors]="errors"
    [tabIndex]="1"
    (focusField)="focusElement($event)"
  />
}
<h2 class="page-question-number">
  Question {{ currentPage }} of {{ totalPages }}
</h2>
<h1 class="page-question">What are your contact details?</h1>
<form
  class="question-form-container"
  [formGroup]="questionFourForm"
  (ngSubmit)="onClickContinue()"
>
  <div
    class="default-input-container"
    [class.input-container-error]="
      (questionFourForm.get('email').errors ||
        questionFourForm.get('email').hasError('required')) &&
      this.errors.length > 0
    "
  >
    <label for="email" class="default-input-label"> Email address </label>
    @if (
      questionFourForm.get('email').errors &&
      questionFourForm.get('email').hasError('required') &&
      this.errors.length > 0
    ) {
      <label for="email" class="input-label-error-message">
        Enter your email address
      </label>
    }
    @if (
      questionFourForm.get('email').errors &&
      questionFourForm.get('email').hasError('email') &&
      this.errors.length > 0
    ) {
      <label for="email" class="input-label-error-message">
        Enter the email address in the correct format, like name&#64;example.com
      </label>
    }
    <div>
      <input
        id="email"
        formControlName="email"
        type="text"
        class="default-text-input"
        [class.text-input-error]="
          questionFourForm.get('email').errors && this.errors.length > 0
        "
      />
    </div>
  </div>
  <div
    class="default-input-container"
    [class.input-container-error]="
      questionFourForm.get('phone').errors && this.errors.length > 0
    "
  >
    <label for="phone" class="default-input-label">
      Phone number (Optional)
    </label>
    @if (
      questionFourForm.get('phone').errors &&
      questionFourForm.get('phone').hasError('pattern') &&
      this.errors.length > 0
    ) {
      <label for="email" class="input-label-error-message">
        Enter a valid phone number
      </label>
    }
    <div>
      <input
        id="phone"
        formControlName="phone"
        type="text"
        class="default-text-input three-quarters-text-input"
        [class.text-input-error]="
          questionFourForm.get('phone').errors && this.errors.length > 0
        "
      />
    </div>
  </div>
  <div>
    <button class="default-btn" type="submit">Continue</button>
  </div>
</form>
