<ng-container *ngIf="errorSummary.length > 0">
  <div #errorSummary class="error-summary-container" tabindex="2">
    <h2 class="error-summary-title">
      There is a problem
    </h2>
    <ul class="error-summary-list">
      <li *ngIf="questionOneForm.get('firstName').errors && questionOneForm.get('firstName').hasError('required')">
        <a routerLink="./" fragment="firstName" class="error-link" tabindex="3">
          Enter your first name(s)
        </a>
      </li>
      <li *ngIf="questionOneForm.get('lastName').errors && questionOneForm.get('lastName').hasError('required')">
        <a routerLink="./" fragment="lastName" class="error-link" tabindex="4">
          Enter your last name
        </a>
      </li>
    </ul>
  </div>
</ng-container>
<h2 class="page-question-number">
  Question {{currentPage}} of {{totalPages}}
</h2>
<h1 class="page-question">
  What is your name?
</h1>
<form class="question-form-container" [formGroup]="questionOneForm" (ngSubmit)="onClickContinue()">
  <div class="input-container">
    <label for="firstName" class="input-label">
      First name(s)
    </label>
    <div>
      <input id="firstName" formControlName="firstName"type="text" class="text-input">
    </div>
  </div>
  <div class="input-container">
    <label for="lastName" class="input-label">
      Last name
    </label>
    <div>
      <input id="lastName" formControlName="lastName" type="text" class="text-input">
    </div>
  </div>
  <div>
    <button class="default-btn" type="submit">
      Continue
    </button>
  </div>
</form>
