@use './../../../../styles/colors.scss' as *;

.check-answers-container {
  width: 80%;

  @media screen and (max-width: 960px) {
    width: calc(100% - 30px);
    padding: 0px 15px;
  }

  @media screen and (max-width: 640px) {
    width: 95%;
    padding: 0px 2.5%;
  }
}

.placeholder-margin {
  margin-top: 45px;
}

.summary-list-container {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.summary-list-row {
  display: table-row;
  border-bottom: 1px solid $govuk-mid-grey;

  @media screen and (max-width: 640px) {
    display: block;
  }
}

.summary-list-key {
  width: 30%;
  font-size: 19px;
  margin-bottom: 5px;
  font-weight: 700;
  display: table-cell;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;

  @media screen and (max-width: 640px) {
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

.summary-list-value {
  width: 50%;
  font-size: 19px;
  display: table-cell;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  line-height: 1.3;

  @media screen and (max-width: 640px) {
    display: block;
    margin-inline-start: 0px;
    width: 100%;
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: 15px;
  }
}

.margin-top-small {
  margin-top: 10px;
}

.summary-list-actions {
  width: 20%;
  margin-bottom: 15px;
  display: table-cell;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;

  @media screen and (max-width: 640px) {
    display: block;
    width: 100%;
    padding-top: 0px;
    text-align: left;
    margin-inline-start: 0px;
    padding-bottom: 0px;
  }
}

.continue-btn-container {
  margin-top: 30px;
  margin-bottom: 60px;
}
