<ng-container *ngIf="errorMessage">
  <div #errorSummary class="error-summary-container" tabindex="2">
    <h2 class="error-summary-title">
      There is a problem
    </h2>
    <ul class="error-summary-list">
      <li>
        <a routerLink="/sign-in" class="error-link" tabindex="3">
          {{errorMessage}}
        </a>
      </li>
    </ul>
  </div>
</ng-container>
<div class="check-answers-container">
  <h1 class="page-question placeholder-margin">
    Check your answers before creating your account
  </h1>
  <div class="summary-list-container">
    <div class="summary-list-row">
      <dt class="summary-list-key">Name</dt>
      <dd class="summary-list-value">{{newMemberData?.firstName | titlecase}} {{newMemberData?.lastName | titlecase}}</dd>
      <dd class="summary-list-actions"><a class="standard-link" href="javascript:void(0)" (click)="onClickChange(1)" tabindex="0">Change</a></dd>
    </div>
    <div class="summary-list-row">
      <dt class="summary-list-key">Date of birth</dt>
      <dd class="summary-list-value">{{newMemberData?.dateOfBirth | date: 'dd MMMM yyyy'}}</dd>
      <dd class="summary-list-actions"><a class="standard-link" href="javascript:void(0)" (click)="onClickChange(2)" tabindex="0">Change</a></dd>
    </div>
    <div class="summary-list-row">
      <dt class="summary-list-key">Gender</dt>
      <dd class="summary-list-value">{{newMemberData?.gender}}</dd>
      <dd class="summary-list-actions"><a class="standard-link" href="javascript:void(0)" (click)="onClickChange(3)" tabindex="0">Change</a></dd>
    </div>
    <div class="summary-list-row">
      <dt class="summary-list-key">Contact details</dt>
      <dd class="summary-list-value">
        <p>{{newMemberData?.email}}</p>
        <p class="margin-top-small">{{newMemberData?.phone}}</p>
      </dd>
      <dd class="summary-list-actions"><a class="standard-link" href="javascript:void(0)" (click)="onClickChange(4)" tabindex="0">Change</a></dd>
    </div>
    <div class="summary-list-row">
      <dt class="summary-list-key">Address</dt>
      <dd class="summary-list-value">
        <p>{{newMemberData?.addressLineOne}}</p>
        <p>{{newMemberData?.addressLineTwo}}</p>
        <p>{{newMemberData?.townOrCity}}</p>
        <p>{{newMemberData?.county}}</p>
        <p>{{newMemberData?.postcode}}</p>
      </dd>
      <dd class="summary-list-actions"><a class="standard-link" href="javascript:void(0)" (click)="onClickChange(5)" tabindex="0">Change</a></dd>
    </div>
    <div class="summary-list-row">
      <dt class="summary-list-key">Ethnicity</dt>
      <dd class="summary-list-value">{{newMemberData?.ethnicity}}</dd>
      <dd class="summary-list-actions"><a class="standard-link" href="javascript:void(0)" (click)="onClickChange(6)" tabindex="0">Change</a></dd>
    </div>
    <div class="summary-list-row">
      <dt class="summary-list-key">Main leisure center</dt>
      <dd class="summary-list-value">{{newMemberData?.mainCenter}}</dd>
      <dd class="summary-list-actions"><a class="standard-link" href="javascript:void(0)" (click)="onClickChange(7)" tabindex="0">Change</a></dd>
    </div>
    <div class="summary-list-row">
      <dt class="summary-list-key">Membership type</dt>
      <dd class="summary-list-value">{{newMemberData?.membershipType}}</dd>
      <dd class="summary-list-actions"><a class="standard-link" href="javascript:void(0)" (click)="onClickChange(8)" tabindex="0">Change</a></dd>
    </div>
  </div>
  <div class="continue-btn-container">
    <button class="default-btn" (click)="onClickCreateAccount()">
      Create account
    </button>
  </div>
</div>