<h2 class="page-question-number">
  Question {{currentPage}} of {{totalPages}}
</h2>
<h1 class="page-question">
  What is your gender?
</h1>
<form class="question-three-form" [formGroup]="questionThreeForm" (ngSubmit)="onClickContinue()">
  <div class="radio-inputs-container">
    <div class="input-container">
      <div>
        <input id="male" value="Male" formControlName="gender" type="radio" class="radio-input">
      </div>
      <label 
        for="male" 
        class="input-label"
        [ngClass]="questionThreeForm.get('gender').value === 'Male' ? 'checked' : 'unchecked'"
      >
        Male
      </label>
    </div>
    <div class="input-container">
      <div>
        <input id="female" value="Female" formControlName="gender" type="radio" class="radio-input">
      </div>
      <label 
        for="female" 
        class="input-label"
        [ngClass]="questionThreeForm.get('gender').value === 'Female' ? 'checked' : 'unchecked'"
      >
        Female
      </label>
    </div>
  </div>
  <div>
    <button class="default-btn" type="submit">
      Continue
    </button>
  </div>
</form>