.page-question-number {
  font-weight: 400;
  color: #505a5f;
  margin: 40px 0px 0px 0px;
  font-size: 24px;
}

.page-question {
  font-size: 36px;
  margin: 5px 0px 10px 0px;
}

.question-three-form {
  margin-top: 30px;
  margin-bottom: 60px;
}

.radio-inputs-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.input-container {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  min-height: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
  clear: left;
  width: fit-content; 
}

.input-container:focus-visible {
  outline: none;

  .input-label:before { 
    border-width: 4px;
    outline: 3px solid transparent;
    outline-offset: 1px;
    -webkit-box-shadow: 0 0 0 4px #fd0;
    box-shadow: 0 0 0 4px #fd0;
  }
}

.input-container:focus {
  .input-label:before { 
    border-width: 4px;
    outline: 3px solid transparent;
    outline-offset: 1px;
    -webkit-box-shadow: 0 0 0 4px #fd0;
    box-shadow: 0 0 0 4px #fd0;
  }
}

.input-label {
  font-size: 19px;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.input-label:before {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid currentColor;
  border-radius: 50%;
  background: transparent;
}

.input-label:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 0;
  height: 0;
  border: 10px solid currentColor;
  border-radius: 50%;
  opacity: 0;
  background: currentColor;
}

.input-label.checked:after {
  opacity: 1;
}

.input-label.unchecked:after {
  opacity: 0;
}

.radio-input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  opacity: 0;
}

.default-btn {
  display: inline-block;
  position: relative;
  padding: 8px 10px 7px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: #00703c;
  box-shadow: 0 2px 0 #002d18;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 19px;
}

.default-btn:hover {
  background-color: #005a30;
}

.default-btn:focus {
  border-color: #fd0;
  outline: 3px solid transparent;
  -webkit-box-shadow: inset 0 0 0 1px #fd0;
  box-shadow: inset 0 0 0 1px #fd0;
}

.default-btn:active {
  top: 2px;
}
