.main-container {
  display: flex;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: 960px) {
    width: calc(100% - 30px);
    padding: 0px 15px;
  }
}

.body-container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
}

.page-header {
  font-size: 48px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 30px;
  max-width: 600px;
}

.inset-container {
  display: flex;
  flex-direction: column;
  border-left: 10px solid #C4C4C4;
}

.inset-content {
  margin-left: 15px;
  font-size: 19px;
}

.inset-content:first-of-type {
  margin-top: 25px;
  margin-bottom: 15px;
}

.inset-content:last-of-type {
  margin-bottom: 25px;
}

.inset-link {
  color: #2B8CC4;
  text-decoration: underline;
  cursor: pointer;
}

.inset-link:hover {
  color: #003078;
}

.inset-link:focus {
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
  outline: 3px solid transparent;
}

.sign-in-form {
  margin-top: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.input-container-error {
  padding-left: 15px;
  border-left: 5px solid #d4351c;
}

.input-label {
  font-size: 19px;
  margin-bottom: 5px;
}

.input-label-error-message {
  font-size: 19px;
  margin-bottom: 15px;
  color: #d4351c;
  font-weight: 700;
}

.text-input {
  width: 420px;
  border: 2px solid #0b0c0c;
  padding: 5px;
  border-radius: 0px;
  font-size: 19px;
  line-height: 1.31579;

  @media screen and (max-width: 475px) {
    width: 95%;
  }
}

.text-input:focus {
  outline: 3px solid #ffdd00;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
  border-color: #0b0c0c
}

.text-input-error {
  border-color: #d4351c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.default-btn {
  display: inline-block;
  position: relative;
  padding: 8px 10px 7px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: #00703c;
  box-shadow: 0 2px 0 #002d18;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 19px;
}

.default-btn:hover {
  background-color: #005a30;
}

.default-btn:focus {
  border-color: #fd0;
  outline: 3px solid transparent;
  -webkit-box-shadow: inset 0 0 0 1px #fd0;
  box-shadow: inset 0 0 0 1px #fd0;
}

.default-btn:active {
  top: 2px;
}

.inset-help-text {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 19px;
}

.bottom-inset {
  margin-bottom: 80px;
}

.error-summary-container {
  margin: 60px 0px 50px 0px;
  padding: 20px;
  border: 5px solid #d4351c;
  max-width: 600px;
}

.error-summary-container:focus {
  outline: 3px solid #ffdd00;
}

.error-summary-title {
  margin: 0px 0px 20px 0px;
}

.error-summary-list {
  display: list-item;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;

  li {
    margin-bottom: 5px;

    a {
      color: #d4351c;
      font-weight: 700;
      text-decoration: underline;
      font-size: 19px;
      line-height: 25px;
      cursor: pointer;
    }

    a:focus {
      color: #0b0c0c;
      outline: 3px solid transparent;
      background-color: #ffdd00;
      box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
      text-decoration: none;
    }
  }
}
