@use './../../styles/palette/colors.scss' as *;
@use './../../styles/abstracts/functions.scss' as *;
@use './../../styles/abstracts/mixins.scss' as *;

.inset-content {
  font-size: 19px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inset-help-text {
  font-size: 19px;
}
