<div class="main-container">
  <div class="body-container">
    @if (errors().length > 0) {
      <app-error-summary
        [errors]="errors()"
        [tabIndex]="1"
        (focusField)="focusElement($event)"
      />
    }
    <h1 class="page-header">Sign in to your Leisure Services account</h1>
    <div class="inset-container">
      <span class="inset-content ml-md mt-lg mb-md"
        >Sign in or
        <a class="inset-link" routerLink="/sign-up">create an account</a> to get
        started.</span
      >
      <span class="inset-content ml-md mb-lg"
        >By using the site you agree to the
        <a class="inset-link" href="javascript:void(0)"
          >terms and conditions.</a
        ></span
      >
    </div>
    <form class="mt-xl" [formGroup]="form()" (ngSubmit)="signIn()">
      <div
        class="input-container"
        [class.input-container-error]="
          form().get('memberNumber').errors && this.errors().length > 0
        "
      >
        <label for="memberNumber" class="default-input-label">
          Member number
        </label>
        @if (
          form().get('memberNumber').errors &&
          form().get('memberNumber').hasError('required') &&
          this.errors().length > 0
        ) {
          <label for="memberNumber" class="input-label-error-message">
            Enter your member number
          </label>
        }
        @if (
          form().get('memberNumber').errors &&
          form().get('memberNumber').hasError('unauthorized') &&
          this.errors().length > 0
        ) {
          <label for="memberNumber" class="input-label-error-message">
            Incorrect member number or password
          </label>
        }
        @if (
          form().get('memberNumber').errors &&
          form().get('memberNumber').hasError('error') &&
          this.errors().length > 0
        ) {
          <label for="memberNumber" class="input-label-error-message">
            Server error
          </label>
        }
        <div>
          <input
            id="memberNumber"
            formControlName="memberNumber"
            type="number"
            class="default-text-input number-input"
            [class.text-input-error]="
              form().get('memberNumber').errors && this.errors().length > 0
            "
          />
        </div>
      </div>
      <div
        class="input-container"
        [class.input-container-error]="
          (form().get('password').errors ||
            form().get('memberNumber').hasError('unauthorized')) &&
          this.errors().length > 0
        "
      >
        <label for="password" class="default-input-label"> Password </label>
        @if (
          form().get('password').errors &&
          form().get('password').hasError('required') &&
          this.errors().length > 0
        ) {
          <label for="memberNumber" class="input-label-error-message">
            Enter your password
          </label>
        }
        @if (
          form().get('memberNumber').errors &&
          form().get('memberNumber').hasError('unauthorized') &&
          this.errors().length > 0
        ) {
          <label for="memberNumber" class="input-label-error-message">
            Incorrect member number or password
          </label>
        }
        <div>
          <input
            id="password"
            formControlName="password"
            type="password"
            class="default-text-input"
            [class.text-input-error]="
              form().get('password').errors && this.errors().length > 0
            "
          />
        </div>
      </div>
      <div>
        <button
          busyButton
          class="default-btn"
          [isLoading]="isLoading()"
          type="submit"
        >
          Sign in
        </button>
      </div>
    </form>
    <p class="inset-help-text mt-xxxl mb-md">Help signing in</p>
    <div class="inset-container bottom-inset mb-xxxxxl">
      <span class="inset-content ml-md mt-lg mb-md"
        ><a
          class="inset-link"
          routerLink="/account-recovery"
          [state]="{ route: 'email-check', path: 'forgot-member-number' }"
          >Forgotten your member number?</a
        ></span
      >
      <span class="inset-content ml-md mb-lg"
        ><a
          class="inset-link"
          routerLink="/account-recovery"
          [state]="{ route: 'email-confirm', path: 'forgot-password' }"
          >Forgotten your password?</a
        ></span
      >
    </div>
  </div>
</div>
