<div class="main-container">
  <div class="body-container">
    <div class="two-thirds-container custom-padding-bottom">
      <div class="confirmation-panel">
        <h1 class="panel-title">
          Your Leisure Services password has been reset
        </h1>
      </div>
      <h2 class="heading-medium">
        What happens next
      </h2>
      <p class="body-text">
        Use your Telford Leisure Services member number and new password to sign in.
      </p>
      <div>
        <button class="default-btn" (click)="routeToSignIn()">
          Return to sign in
        </button>
      </div>
    </div>
  </div>
</div>
