<div class="main-container">
  <div class="body-container">
    <div class="backlink-container">
      <a class="back-link" href="javascript:void(0)" (click)="onClickBack()" tabindex="1">Back</a>
    </div>
    <ng-container [ngSwitch]="currentPageNumber">
      <app-question-one 
        *ngSwitchCase="1"
        [currentPage]="currentPageNumber"
        [totalPages]="totalPageNumbers"
        (answerOneEvent)="receiveAnswer($event)"
      ></app-question-one>
      <app-question-two 
        *ngSwitchCase="2"
        [currentPage]="currentPageNumber"
        [totalPages]="totalPageNumbers"
        (answerTwoEvent)="receiveAnswer($event)"
      ></app-question-two>
      <app-question-three 
        *ngSwitchCase="3"
        [currentPage]="currentPageNumber"
        [totalPages]="totalPageNumbers"
        (answerThreeEvent)="receiveAnswer($event)"
      ></app-question-three>
      <app-question-four 
        *ngSwitchCase="4"
        [currentPage]="currentPageNumber"
        [totalPages]="totalPageNumbers"
        (answerFourEvent)="receiveAnswer($event)"
      ></app-question-four>
      <app-question-five 
        *ngSwitchCase="5"
        [currentPage]="currentPageNumber"
        [totalPages]="totalPageNumbers"
        (answerFiveEvent)="receiveAnswer($event)"
      ></app-question-five>
      <app-question-six 
        *ngSwitchCase="6"
        [currentPage]="currentPageNumber"
        [totalPages]="totalPageNumbers"
        (answerSixEvent)="receiveAnswer($event)"
      ></app-question-six>
      <app-question-seven 
        *ngSwitchCase="7"
        [currentPage]="currentPageNumber"
        [totalPages]="totalPageNumbers"
        (answerSevenEvent)="receiveAnswer($event)"
      ></app-question-seven>
      <app-question-eight 
        *ngSwitchCase="8"
        [currentPage]="currentPageNumber"
        [totalPages]="totalPageNumbers"
        (answerEightEvent)="receiveAnswer($event)"
      ></app-question-eight>
    </ng-container>
  </div>
</div>