$govuk-red: #d4351c;
$govuk-yellow: #ffdd00;
$govuk-green: #00703c;
$govuk-blue: #1d70b8;
$govuk-dark-blue: #003078;
$govuk-light-blue: #5694ca;
$govuk-purple: #4c2c92;
$govuk-black: #0b0c0c;
$govuk-dark-grey: #505a5f;
$govuk-mid-grey: #b1b4b6;
$govuk-light-grey: #f3f2f1;
$govuk-white: #ffffff;
$govuk-light-purple: #6f72af;
$govuk-bright-purple: #912b88;
$govuk-pink: #d53880;
$govuk-light-pink: #f499be;
$govuk-orange: #f47738;
$govuk-brown: #b58840;
$govuk-light-green: #85994b;
$govuk-turquoise: #28a197;
