<ng-container *ngIf="errorSummary.length > 0">
  <div #errorSummary class="error-summary-container" tabindex="2">
    <h2 class="error-summary-title">
      There is a problem
    </h2>
    <ul class="error-summary-list">
      <li *ngIf="questionEightForm.get('membershipType').errors && questionEightForm.get('membershipType').hasError('required')">
        <a href="javascript:void(0)" (click)="onClickMembershipTypeRequiredError()" class="error-link" tabindex="3">
          Select your membership type
        </a>
      </li>
    </ul>
  </div>
</ng-container>
<h2 class="page-question-number">
  Question {{currentPage}} of {{totalPages}}
</h2>
<h1 class="page-question">
  Which will be your membership type?
</h1>
<form class="question-form-container" [formGroup]="questionEightForm" (ngSubmit)="onClickContinue()">
  <div class="default-input-container">
    <div #adtInput tabindex="0" class="default-radio-input-container flex-column" (click)="selectInput('TLC Adt Resident 16+ - ADT')" (keydown.space)="selectInput('TLC Adt Resident 16+ - ADT')">
      <div class="inner-radio-input-container">
        <input id="adt" value="TLC Adt Resident 16+ - ADT" formControlName="membershipType" type="radio" class="hidden-radio-input" tabindex="-1">
        <label 
          for="adt" 
          class="radio-input-label"
          [ngClass]="questionEightForm.get('membershipType').value === 'TLC Adt Resident 16+ - ADT' ? 'checked' : 'unchecked'"
        >
          TLC Adt Resident 16+ - ADT
          <span class="label-hint-text">Fee: None (sign up for FREE)</span>
        </label>
      </div>
      <details class="details-container">
        <summary class="details-summary">More information</summary>
        <div class="details-content-container">
          <p class="details-text">Free Telford Loyalty Card for Telford & Wrekin residents aged 16 and over. Gives discount of up to 25% on most activities.</p>
          <ul>
            <li>Free membership</li>
            <li>No joining fees</li>
          </ul>
        </div>
      </details>
    </div>
    <div #hcoInput tabindex="0" class="default-radio-input-container flex-column" (click)="selectInput('Annual Cash Concession - HCO')" (keydown.space)="selectInput('Annual Cash Concession - HCO')">
      <div class="inner-radio-input-container">
        <input id="hco" value="Annual Cash Concession - HCO" formControlName="membershipType" type="radio" class="hidden-radio-input" tabindex="-1">
        <label 
          for="hco" 
          class="radio-input-label"
          [ngClass]="questionEightForm.get('membershipType').value === 'Annual Cash Concession - HCO' ? 'checked' : 'unchecked'"
        >
          Annual Cash Concession - HCO
          <span class="label-hint-text">Fee: £312.00</span>
        </label>
      </div>
      <details class="details-container">
        <summary class="details-summary">More information</summary>
        <div class="details-content-container">
          <p class="details-text">Includes fitness suite, fitness classes, swimming, health and sauna. Once completed please phone the center to book your induction. Please produce proof of concessionary status at time of induction.</p>
          <ul>
            <li>No joining fees</li>
            <li>Annual cash concession, 14 months for the price of 12</li>
          </ul>
        </div>
      </details>
    </div>
    <div #haeInput tabindex="0" class="default-radio-input-container flex-column" (click)="selectInput('Aspirations All Inclusive - HAE')" (keydown.space)="selectInput('Aspirations All Inclusive - HAE')">
      <div class="inner-radio-input-container">
        <input id="hae" value="Aspirations All Inclusive - HAE" formControlName="membershipType" type="radio" class="hidden-radio-input" tabindex="-1">
        <label 
          for="hae" 
          class="radio-input-label"
          [ngClass]="questionEightForm.get('membershipType').value === 'Aspirations All Inclusive - HAE' ? 'checked' : 'unchecked'"
        >
          Aspirations All Inclusive - HAE
          <span class="label-hint-text">Fee: £366.00</span>
        </label>
      </div>
      <details class="details-container">
        <summary class="details-summary">More information</summary>
        <div class="details-content-container">
          <p class="details-text">Includes fitness suite, fitness classes, swimming, health suite, sauna. Once completed please phone the center to book your induction.</p>
          <ul>
            <li>No joining fees</li>
            <li>Inclusive membership</li>
          </ul>
        </div>
      </details>
    </div>
    <div #hccInput tabindex="0" class="default-radio-input-container flex-column" (click)="selectInput('Aspirations No Contract - HCC')" (keydown.space)="selectInput('Aspirations No Contract - HCC')">
      <div class="inner-radio-input-container">
        <input id="hcc" value="Aspirations No Contract - HCC" formControlName="membershipType" type="radio" class="hidden-radio-input" tabindex="-1">
        <label 
          for="hcc" 
          class="radio-input-label"
          [ngClass]="questionEightForm.get('membershipType').value === 'Aspirations No Contract - HCC' ? 'checked' : 'unchecked'"
        >
          Aspirations No Contract - HCC
          <span class="label-hint-text">Fee: £462</span>
        </label>
      </div>
      <details class="details-container">
        <summary class="details-summary">More information</summary>
        <div class="details-content-container">
          <p class="details-text">Includes fitness suite, fitness classes, health suite and sauna and free swimming for spouse/partner and children. Once completed please phone the center to book your induction.</p>
          <ul>
            <li>No joining fees</li>
            <li>Annual cash membership, 14 months for the price of 12</li>
            <li>Free swimming for spouse/partner and children</li>
          </ul>
        </div>
      </details>
    </div>
  </div>
  <div>
    <button class="default-btn" type="submit">
      Continue
    </button>
  </div>
</form>