@use './../../../../styles/palette/colors.scss' as *;

.flex-column {
  flex-direction: column;
}

.details-container:not(:last-of-type) {
  align-self: flex-start;
  margin-top: 2px;
  margin-bottom: 10px;
}

.details-summary:focus {
  outline: 3px solid transparent;
  color: $govuk-black;
  background-color: $govuk-yellow;
  -webkit-box-shadow:
    0 -2px $govuk-yellow,
    0 4px $govuk-black;
  box-shadow:
    0 -2px $govuk-yellow,
    0 4px $govuk-black;
  text-decoration: none;
}

.details-content-container {
  ul {
    margin-block-start: 15px;
    margin-block-end: 0px;
    margin-inline-start: 15px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

    li:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.inner-radio-input-container:focus-visible,
.inner-radio-input-container:active {
  outline: none;

  .radio-input-label:before {
    border-width: 4px;
    outline: 3px solid transparent;
    outline-offset: 1px;
    -webkit-box-shadow: 0 0 0 4px $govuk-yellow;
    box-shadow: 0 0 0 4px $govuk-yellow;
  }
}
