<div class="main-container">
  <div class="body-container">
    <ng-container *ngIf="errorSummary.length > 0">
      <div #errorSummaryDiv class="error-summary-container" tabindex="2">
        <h2 class="error-summary-title">
          There is a problem
        </h2>
        <ul class="error-summary-list">
          <li *ngIf="emailForm.get('email').errors && emailForm.get('email').hasError('required')">
            <a routerLink="./" fragment="email" class="error-link" tabindex="3">
              Enter your email adress
            </a>
          </li>
          <li *ngIf="emailForm.get('email').errors && emailForm.get('email').hasError('email')">
            <a routerLink="./" fragment="email" class="error-link" tabindex="4">
              Enter the email address in the correct format, like name@example.com
            </a>
          </li>
        </ul>
      </div>
    </ng-container>
    <div class="two-thirds-container" [class.custom-padding]="errorSummary.length === 0">
      <h1 class="heading-large">
        Enter the email address associated with your Telford Leisure Services account
      </h1>
      <p class="body-text">To confirm it is your email address we will send you a code.</p>
      <form class="question-form-container" [formGroup]="emailForm" (ngSubmit)="onClickContinue()">
        <div class="default-input-container" [class.input-container-error] = "(emailForm.get('email').errors || emailForm.get('email').hasError('required')) && this.errorSummary.length > 0">
          <label for="email" class="default-input-label">
            Email address
          </label>
          <label *ngIf="emailForm.get('email').errors && emailForm.get('email').hasError('required') && this.errorSummary.length > 0" for="email" class="input-label-error-message">
            Enter your email address
          </label>
          <label *ngIf="emailForm.get('email').errors && emailForm.get('email').hasError('email') && this.errorSummary.length > 0" for="email" class="input-label-error-message">
            Enter the email address in the correct format, like name@example.com
          </label>
          <div>
            <input 
              id="email" 
              formControlName="email" 
              type="text" 
              class="default-text-input"
              [class.text-input-error] = "emailForm.get('email').errors && this.errorSummary.length > 0"
            >
          </div>
        </div>
        <div>
          <button class="default-btn" type="submit">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
