<div class="main-container">
  <div class="body-container">
    <div class="two-thirds-container custom-padding-bottom">
      <div class="confirmation-panel">
        <h1 class="panel-title">Application complete</h1>
        <div class="panel-body">
          <p class="panel-body-text">Your member number</p>
          <p class="panel-body-text">{{ memberNumber }}</p>
        </div>
      </div>
      <p class="body-text">
        We have sent you confirmation emails with your member number and
        password.
      </p>
      <h2 class="heading-medium">What happens next</h2>
      <p class="body-text">
        We have sent your application to {{ mainCenter }}.
      </p>
      <p class="body-text">
        They will contact you either to confirm your registration, or to ask for
        more information.
      </p>
      <p class="body-text">
        <a routerLink="/sign-in" class="standard-link">Sign in</a>
      </p>
      <p class="body-text">
        <a routerLink="/feedback" class="standard-link"
          >What did you think of this service?</a
        >
        (takes 30 seconds)
      </p>
    </div>
  </div>
</div>
