.negative-top-margin {
  margin-top: 0px;
}

.extra-margin-bottom {
  margin-bottom: 50px;
}

.warning-text-container {
  display: flex;
  padding: 10px 0px;
  margin-bottom: 30px;
}

.warning-text-icon {
  font-weight: 700;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  min-width: 35px;
  min-height: 35px;
  margin-top: -7px;
  border: 3px solid #0b0c0c;
  border-radius: 50%;
  color: #ffffff;
  background: #0b0c0c;
  font-size: 30px;
  line-height: 29px;
  text-align: center;
  user-select: none;
}

.warning-text-body {
  font-weight: 700;
  font-size: 19px;
  display: block;
  padding-left: 45px;
}