<div class="main-container">
  <div class="body-container">
    <div class="two-thirds-container">
      <div class="backlink-container">
        <a
          class="breadcrumb-link"
          href="javascript:void(0)"
          (click)="onClickBack()"
          tabindex="1"
          >Back</a
        >
      </div>
      @if (errors().length > 0) {
        <app-error-summary
          [errors]="errors()"
          [tabIndex]="1"
          (focusField)="focusElement($event)"
        />
      }
      <h1
        class="heading-large mb-xxxl"
        [class.custom-padding]="errors().length === 0"
      >
        Enter code to confirm your email address
      </h1>
      <p class="body-text">
        We have sent a code to: <strong>{{ memberEmail() }}</strong>
      </p>
      <p class="body-text">The code will expire in 30 minutes.</p>
      <div class="warning-text-container">
        <span class="warning-text-icon">!</span>
        <p class="warning-text-body">
          If you use a browser to access your email, you may need to open a new
          window or tab to see the code.
        </p>
      </div>
      <form
        class="question-form-container"
        [formGroup]="form()"
        (ngSubmit)="onClickConfirm()"
      >
        <div
          class="input-container"
          [class.input-container-error]="
            (form()?.get('confirmationCode')?.errors ||
              form()?.get('confirmationCode')?.hasError('required')) &&
            this.errors().length > 0
          "
        >
          <label
            for="confirmationCode"
            class="default-input-label custom-label-margin"
          >
            Confirmation code
          </label>
          <p class="label-hint-text custom-label-margin">For example, DNCLRK</p>
          @if (
            form()?.get('confirmationCode')?.errors &&
            form()?.get('confirmationCode')?.hasError('required') &&
            this.errors().length > 0
          ) {
            <label for="confirmationCode" class="input-label-error-message">
              Enter the 6 character confirmation code
            </label>
          }
          @if (
            form()?.get('confirmationCode')?.errors &&
            form()?.get('confirmationCode')?.hasError('incorrect') &&
            this.errors().length > 0
          ) {
            <label for="confirmationCode" class="input-label-error-message">
              Enter correct confirmation code
            </label>
          }
          <div>
            <input
              id="confirmationCode"
              formControlName="confirmationCode"
              type="text"
              class="default-text-input"
              [class.text-input-error]="
                form()?.get('confirmationCode')?.errors &&
                this.errors().length > 0
              "
            />
          </div>
        </div>
        <details class="details-container mb-lg">
          <summary class="details-summary">
            I have not received the email
          </summary>
          <div class="details-content-container">
            <p class="details-text">
              The email may take a few minutes to arrive. Its subject line is:
              ‘Confirm your email address – Telford Leisure Services’.
            </p>
            <p class="details-text">
              If you still have not got the code, you will need to
              <a
                class="inset-link"
                href="javascript:void(0)"
                (click)="onClickStartAgain()"
                >start again.</a
              >
            </p>
          </div>
        </details>
        <div>
          <button class="default-btn" type="submit">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>
