<div class="main-container">
  <div class="body-container">
    <div class="backlink-container">
      <a class="breadcrumb-link negative-top-margin" href="javascript:void(0)" (click)="onClickBack()" tabindex="1">Back</a>
    </div>
    <h1 class="heading-large extra-margin-bottom">
      Enter code to confirm your email address
    </h1>
    <p class="body-text">We have sent a code to: <strong>mrchrisiaaaanjones@gmail.com</strong></p>
    <p class="body-text">The code will expire in 30 minutes.</p>
    <div class="warning-text-container">
      <span class="warning-text-icon">!</span>
      <p class="warning-text-body">If you use a browser to access your email, you may need to open a new window or tab to see the code.</p>
    </div>
  </div>
</div>