<ng-container [ngSwitch]="shownComponent">
  <app-email-check 
    *ngSwitchCase="'email-check'"
    (changeComponentEvent)="receiveComponentChange($event)"
  ></app-email-check>
  <app-email-confirm 
    *ngSwitchCase="'email-confirm'"
    (changeComponentEvent)="receiveComponentChange($event)"
    (emitMemberEmailEvent)="receiveMemberEmail($event)"
  ></app-email-confirm>
  <app-email-code 
    *ngSwitchCase="'email-code'"
    [memberEmail]="memberEmail"
    (changeComponentEvent)="receiveComponentChange($event)"
    (emitMemberNumberEvent)="receiveMemberNumber($event)"
  ></app-email-code>
  <app-member-number-recovered 
    *ngSwitchCase="'member-number-recovered'"
    [memberEmail]="memberEmail"
    [memberNumber]="memberNumber"
  ></app-member-number-recovered>
</ng-container>