@switch (shownComponent()) {
  @case ('email-check') {
    <app-email-check (changeComponentEvent)="receiveComponentChange($event)" />
  }
  @case ('email-confirm') {
    <app-email-confirm
      (changeComponentEvent)="receiveComponentChange($event)"
      (emitMemberEmailEvent)="receiveMemberEmail($event)"
    />
  }
  @case ('email-code') {
    <app-email-code
      [memberEmail]="memberEmail()"
      [path]="path()"
      (changeComponentEvent)="receiveComponentChange($event)"
      (emitMemberNumberEvent)="receiveMemberNumber($event)"
      (emitConfirmationCodeEvent)="receiveConfirmationCode($event)"
    />
  }
  @case ('member-number-recovered') {
    <app-member-number-recovered
      [memberEmail]="memberEmail()"
      [memberNumber]="memberNumber()"
    />
  }
  @case ('change-password') {
    <app-change-password
      [memberEmail]="memberEmail()"
      [confirmationCode]="confirmationCode()"
      (changeComponentEvent)="receiveComponentChange($event)"
    />
  }
  @case ('password-reset') {
    <app-password-reset />
  }
  @default {
    <app-email-check (changeComponentEvent)="receiveComponentChange($event)" />
  }
}
