<ng-container [ngSwitch]="shownComponent">
  <app-email-check 
    *ngSwitchCase="'email-check'"
    (changeComponentEvent)="receiveComponentChange($event)"
  ></app-email-check>
  <app-email-confirm 
    *ngSwitchCase="'email-confirm'"
    (changeComponentEvent)="receiveComponentChange($event)"
    (emitMemberEmailEvent)="receiveMemberEmail($event)"
  ></app-email-confirm>
  <app-email-code 
    *ngSwitchCase="'email-code'"
    [memberEmail]="memberEmail"
    (changeComponentEvent)="receiveComponentChange($event)"
  ></app-email-code>
</ng-container>