<div class="main-container">
  <div class="body-container">
    @if (errors.length > 0) {
      <app-error-summary
        [errors]="errors()"
        [tabIndex]="1"
        (focusField)="focusElement($event)"
      />
    }
    <div class="two-thirds-container" [class.mt-xxxl]="errors().length === 0">
      <h1 class="heading-large">Before recovering your Member Number</h1>
      <p class="body-text">
        Search your emails as your member number may be included in an email we
        have sent you. Try searching your inbox and other folders for ‘Telford
        Leisure Services Member Details'.
      </p>
      <form
        class="question-form-container sub-heading-custom-margin"
        [formGroup]="form()"
        (ngSubmit)="onClickContinue()"
      >
        <div
          class="input-container custom-margin-bottom"
          [class.input-container-error]="
            (form().get('emailCheck').errors ||
              form().get('emailCheck').hasError('required')) &&
            this.errors().length > 0
          "
        >
          @if (
            form().get('emailCheck').errors &&
            form().get('emailCheck').hasError('required') &&
            this.errors().length > 0
          ) {
            <label for="emailCheck" class="input-label-error-message">
              Select yes if you have found your member number
            </label>
          }
          <div
            #yesInput
            id="yesInput"
            class="default-radio-input-container"
            tabindex="0"
            (click)="selectInput('Yes')"
            (keydown.space)="selectInput('Yes')"
          >
            <input
              id="yes"
              value="Yes"
              formControlName="emailCheck"
              type="radio"
              class="hidden-radio-input"
              tabindex="-1"
            />
            <label
              for="yes"
              class="radio-input-label"
              [ngClass]="
                form().get('emailCheck').value === 'Yes'
                  ? 'checked'
                  : 'unchecked'
              "
            >
              Yes, sign in now
            </label>
          </div>
          <div
            #noInput
            class="default-radio-input-container"
            tabindex="0"
            (click)="selectInput('No')"
            (keydown.space)="selectInput('No')"
          >
            <input
              id="no"
              value="No"
              formControlName="emailCheck"
              type="radio"
              class="hidden-radio-input"
              tabindex="-1"
            />
            <label
              for="no"
              class="radio-input-label"
              [ngClass]="
                form().get('emailCheck').value === 'No'
                  ? 'checked'
                  : 'unchecked'
              "
            >
              No, recover my member number
            </label>
          </div>
        </div>
        <div>
          <button class="default-btn" type="submit">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
